/* Цвета */

$primary-color: #f7cf92;
$accent-color: #ec058e;
$secondary-color: #62bbc1;
$background-color: #f2f2f2;
$text-color: #010400;

/* Шрифты */

$font-family-header: "Sofia Sans Extra Condensed", sans-serif;
$font-family-main: "Montserrat", sans-serif;
$font-size-xl: 3.5rem;
$font-size-l: 2.5rem;
$font-size-n: 1.2rem;
$font-size-s: 0.8rem;
$font-size-card-headers: 2rem;

/* Габариты */

$border-radius-s: 4px;
