@use "./helpers/variables.scss" as *;

:root {
  --content-width: 1200px;
}
*,
::after,
::before {
  box-sizing: border-box;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: $font-family-header;
  color: $text-color;
}

h1 {
  font-size: $font-size-xl;
}

h2 {
  font-size: $font-size-l;
}

h4 {
  font-size: $font-size-card-headers;
}

p,
a,
li,
button {
  font-family: $font-family-main;
  color: $text-color;
  font-size: $font-size-n;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: $border-radius-s;
}

body {
  background-color: $background-color;
}

.content {
  margin: 0 auto;
}

section {
  max-width: var(--content-width);
  margin: 0 auto;
}

.accent-text {
  color: $accent-color;
}

@media (max-width: 1024px) {
  :root {
    --content-width: 920px;
  }
}

@media (max-width: 800px) {
  :root {
    --content-width: 85vw;
  }
}

@media (max-width: 480px) {
  :root {
    --content-width: 100%;
  }

  section {
    padding: 0 10px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p,
  a,
  li,
  button {
    font-size: 1rem;
  }
}

/* Динамическая адаптация для больших экранов */
@media (min-width: 2000px) {
  :root {
    font-size: calc(1rem + 0.2vw); /* Плавное увеличение шрифта */
    --content-width: 80vw;
  }
}
